
header {
    text-align: center;
    
}

header .light{
    background-color: #99b3ff;
    color: black;
    
}

header .dark{
    background-color: #002080;
    color: white;
}

.dark :visited {
    color: #99b3ff;
}

.light :visited {
    color: #002080;
}