img{
        justify-self: center;
        margin: auto;
    }
img{
        justify-self: center;
        margin: auto;
    }
img.profile {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
